body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: rgb(34, 34, 34);
}

/* . cria regra para classe da foto abaixo */
.foto-principal{

    /* tamanho da imagem */
    width: 200px;
    /* shorthand */
    border: 2px solid #fbfafa;
    /* Cantinho da borda */
    border-radius: 60% 30% 60% 30%;
    margin: 30px 30px 30px 30px;
    
    /* espaçamento interno */
    padding: 10px;

    box-shadow: 0px 0px 10px #919191;
}

h1{

    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;

}

h2{
    margin-top: 0;
    font-style: italic;
    color: #565353;
    font-weight: 100;
    letter-spacing: -1px;

}
